header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent; /* cho background-color thành màu đen */
    color: white;
    /* border-bottom: 1px solid; */
}

.logo {
    color: #2e81ff;
    font-weight: 600;
    font-size: 25px;
}

nav {
    display: flex;
    gap: 20px; /*Khoảng cách item*/
}

.bar_nav {
    display: none;
}

.menu-icon {
    display: none;
}